<ng-container *ngIf="data.length">
  <h4>Please select the metric</h4>
  <mat-form-field appearance="fill">
    <mat-label>Metrics</mat-label>
    <mat-select [(value)]="selectedMetric">
      <mat-option *ngFor="let metric of metrics" [value]="metric.title">
        {{ metric.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-chart-card [chartData]="chartData"></app-chart-card>
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container
      matColumnDef="{{ innerColumn }}"
      *ngFor="let innerColumn of freq_columns; let indexOfelement = index"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ innerColumn }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.cells[indexOfelement].currentAmount.toFixed(2) }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="totals">
      <th mat-header-cell *matHeaderCellDef>Totals</th>
      <td mat-cell *matCellDef="let element">
        {{ element.totalCurrentYear.toFixed(2) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
